<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<!-- logs to console -->
	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d %5p %t %-55logger{55} %m %n</pattern>
		</encoder>
	</appender>

	<logger name="se.panok.securecoding" additivity="false">
		<level value="debug" />
		<appender-ref ref="console" />
	</logger>

	<logger name="org" additivity="false">
		<level value="info" />
		<appender-ref ref="console" />
	</logger>

	<root level="info" />
</configuration>